<div class="border grid-container card mb-2 col">
    <div class="m-2">
        <div class="row">
            <div *ngFor="let character of bingo" class="col text-center font-bold grid-block grid-header">
                {{character}}
            </div>
        </div>
        <div class="row" *ngFor="let cards of grid; let i = index;">
            <div [ngClass]="{free: card === 'FREE' || card.startsWith('*')}" *ngFor="let card of cards"
                class="col grid-block text-center font-bold border">{{card}}</div>
        </div>
    </div>
</div>